:root {
    --red: hsl(0, 89%, 49%);
    --orange: hsl(30, 89%, 49%);
    --gray: hsl(0, 0%, 50%);
    --grayLight75: hsl(0, 0%, 75%);
    --lightGray: hsl(0, 0%, 98%);
    --lightBlue: hsl(180, 89%, 49%);
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

body {
    height: 100vh;
    background-color: var(--lightBlue);
    display: grid;
    place-items: center;
    font-family: 'Cabin Sketch', cursive;
}

#title {
    font-size: 3rem;
    color: var(--orange);
}

#subTitle {
    margin-top: -2.5rem;
    float: right;
    opacity: .5;
}

button {
    font-family: 'Cabin Sketch', cursive;
    outline: none;
    cursor: pointer;
}

#settingContainer {
    width: 554.8px;
    height: 129px;
    border-radius: 15px;
    display: grid;
    place-items: center;
}

.hidden {
    display: none!important;
}

.active {
    background-color: var(--orange);
}

.slideContainer {
    width: 500px;
    padding: .5rem;
    background-color: var(--orange);
    border-radius: 15px;
    border: 5px outset var(--gray);
}

.slideContainer p {
    width: 100%;
    background-color: var(--lightGray);
    border: 3px inset var(--gray);
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 25px;
    background: var(--grayLight75);
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--orange);
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--orange);
    cursor: pointer;
}
  
#gridInput {
    all: unset;
    width: 45px;
    height: 25px;
    padding-left: 5px!important;
    opacity: .8;
    background: var(--grayLight75);
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#gridInput:hover {
    opacity: 1;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
   cursor: pointer;
}

#borderSetting {
    width: 100%;
    display: flex;
    padding-left: 1.3rem;
}

#borderSetting div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    border: 3px outset var(--gray);
    border-radius: 5px;
    transform: scale(.8);
}

#borderSetting div button {
    border: 2px inset var(--gray);
}

#paletteContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}

#paletteContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    padding: .2rem;
    border-radius: 5px;
    border: 3px outset var(--gray);
    transform: scale(.8);
}

#paletteContainer div button {
    border: none;
    border: 2px inset var(--gray);
}

#etch-a-sketch {
    width: 620px;
    height: 720px;
    padding: 50px 50px 150px 50px;
    border: 10px outset var(--gray);
    border-radius: 50px;
    background-color: var(--red);
}

#screen {
    background-color: var(--lightGray);
    width: 100%;
    height: 100%;
    border: 5px inset var(--gray);
    border-radius: 15px;
    display: grid;
}

.pixels {
    cursor: crosshair;
}

.withBorder {
    border: 1px solid var(--grayLight75);
}

.pixelTopLeft {border-top-left-radius: 10px;}
.pixelTopRight {border-top-right-radius: 10px;}
.pixelBottomLeft {border-bottom-left-radius: 10px;}
.pixelBottomRight {border-bottom-right-radius: 10px;}

#knobs {
    display: flex;
    justify-content: space-between;
    margin: 1rem -2.5rem;
}

.knob {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inherit;
    justify-content: center;
    align-items: center;
    border: 5px outset var(--gray);
}

.gmIcon {
    font-size: 3.5rem;
}

.material-icons {
    vertical-align:middle;
}

.rainbow {
    /* background-image: linear-gradient(to left top, violet, indigo, blue, green, 
    yellow, orange, red);  */
    background-image: linear-gradient(to left top, white, white, violet, indigo, blue, 
    green, yellow, orange, red,white, white); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.black {
    color: black;
}

.eraser {
    color: black;
}

#btnClear {
    color: var(--red);
}

#inputCustomColor {
    vertical-align: middle;
    outline: none;
    border: none;
    cursor: pointer;
}

.opacity8 {
    opacity: .8
}

#spanText-clear {
    color: black;
    position: fixed;
    font-size: 1.3rem;
}

button:hover {
    transform: scale(1.05);
}

.shaking {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }